# ==============================
# CORE DEPENDENCIES
# ==============================
fastapi
uvicorn[standard]
pydantic

# ==============================
# ENV + CONFIG
# ==============================
python-dotenv
python-multipart

# ==============================
# ==============================
# AI & ML MODELS
# ==============================
torch
torchvision
pillow
git+https://github.com/openai/CLIP.git
langchain
langchain-mistralai
requests
supabase
langgraph
langchain-openai

